/* Hide the default checkbox */
.check-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  .check-container {
    display: block;
    position: relative;
    cursor: pointer;
    font-size: 10px;
    user-select: none;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: relative;
    top: 0;
    left: 0;
    height: 1.5em;
    width: 1.5em;
    background-color: #a09d9d;
    border-radius: 50%;
    transition: .4s;
  }
  
  .checkmark:hover {
    box-shadow: inset 17px 17px 16px #b3b3b3,
              inset -17px -17px 16px #ffffff;
  }
  
  /* When the checkbox is checked, add a blue background */
  .check-container .check-input:checked ~ .checkmark {
    box-shadow: none;
    background-color: rgb(41, 141, 41);
    transform: rotateX(360deg);
  }
  
  .check-container .check-input:checked ~ .checkmark:hover {
    box-shadow: 3px 3px 3px rgba(0,0,0,0.2);
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .check-container .check-input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .check-container .checkmark:after {
    left: 0.56em;
    top: 0.46em;
    width: 0.25em;
    height: 0.5em;
    border: solid white;
    border-width: 0 0.15em 0.15em 0;
    box-shadow: 0.1em 0.1em 0em 0 rgba(0,0,0,0.3);
    transform: rotate(45deg);
  }

  table {
  border-collapse: collapse;
  width: 100%;
  color: #e8e8e8;
  }

  .task-table {
    padding: 15px;
    margin-top: 20px;
    background-color: #100f0f;
    border-radius: 20px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.3);
  }

  .title {
    color: #e8e8e8;
    letter-spacing: 4px;
  }

  th {
    background-color: #353434;
    font-weight: bold;
    text-align: left;
    padding: 12px;
    letter-spacing: 2px;
    
  }

  tr {
    border-bottom: 1px solid #ddd;
    
  }
  
  td {
    padding: 10px;
  }

  /* Media query for smaller screens (e.g., mobile devices) */
@media screen and (max-width: 768px) {
    table {
      font-size: 14px; /* Decrease font size for smaller screens */
    }
  
    th,
    td {
      padding: 8px; /* Reduce cell padding for smaller screens */
    }
  
    /* Hide the checkbox column on smaller screens */
    td:first-child {
      display: none;
    }
    th:first-child {
      display: none;
    }
  
    /* Center-align the action buttons on smaller screens */
    td:last-child {
      text-align: center;
    }
  }