.container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    max-width: 400px;
    width: 100%;
    background: #FCEDDA;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  }

form {
    display: flex;
    flex-direction: column;
}

.from-group {
    display: inline;
}


